tensorboard
wandb
transformers
datasets
accelerate==0.33.0
deepspeed
tensorboard
munch
peft
ipywidgets
ipykernel
bitsandbytes
einops
ninja
tqdm
lightning
fvcore
causal-conv1d
mamba-ssm
huggingface_hub
torchinfo
moviepy==2.0.0.dev2
soundfile
beartype
pytubefix
librosa
speechtokenizer
seaborn